<footer>
    <ul>
        <a href="https://www.linkedin.com/in/dhainara-corr%C3%AAa-7913a01b2/" target="_blank"><li>Linkedin</li></a>
        <li>Todos os direitos reservados.</li>
        <a href="https://github.com/dhainara/" target="_blank"><li>Github</li></a>
    </ul>
   
</footer>